# Change the file name to .env

# Deployer who submits transactions that create the contracts
DEPLOYER_PRIVATE_KEY=0xefxxxxxxxxxxxxx

# Long-term administrator of the contracts
OWNER_ADDRESS=0x7B7df6b9f9836Bc4dxxxxxxx

# Used for creating the contracts
# DLP_PUBLIC_KEY is what data contributors encrypt access keys with, to grant the DLP permission to read their files
#DLP_TOKEN_SALT=SALT #only used in case you need deterministic deployments. Must be unique for each deployment
DLP_NAME=DLP_NAME
DLP_PUBLIC_KEY=DLP_PUBLIC_KEY
DLP_PROOF_INSTRUCTION=DLP_PROOF_INSTRUCTION
DLP_TOKEN_NAME=DLP_TOKEN_NAME
DLP_TOKEN_SYMBOL=DLP_TOKEN_SYMBOL
DLP_FILE_REWARD_FACTOR=10000000000000000000
DAT_TYPE=0

# Vesting parameters
VESTING_BENEFICIARY=
VESTING_START=
VESTING_AMOUNT=1000
VESTING_DURATION=
VESTING_CLIFF=

# Core contracts
ROOT_CONTRACT_ADDRESS=0xff14346dF2B8Fd0c95BF34f1c92e49417b508AD5
DATA_REGISTRY_CONTRACT_ADDRESS=0x4D59880a924526d1dD33260552Ff4328b1E18a43
TEE_POOL_CONTRACT_ADDRESS=0xE8EC6BD73b23Ad40E6B9a6f4bD343FAc411bD99A
DAT_FACTORY_CONTRACT_ADDRESS=0xcc63F29C559fF2420B0C525F28eD6e9801C9CAfB

# External dependencies
TRUSTED_FORWARDER_ADDRESS=0x0000000000000000000000000000000000000000

# Networks
VANA_RPC_URL=http://rpc.vana.org
VANA_API_URL=https://vanascan.io/api
VANA_BROWSER_URL=https://vanascan.io

MOKSHA_RPC_URL=https://rpc.moksha.vana.org
MOKSHA_API_URL=https://moksha.vanascan.io/api
MOKSHA_BROWSER_URL=https://moksha.vanascan.io
