# Update with your own private key / address
DEPLOYER_PRIVATE_KEY=0xefxxxxxxxxxxxxx
OWNER_ADDRESS=0x7B7df6b9f9836Bc4dxxxxxxx

# used for creating the contracts
DLP_NAME=DLP_NAME
DLP_MASTER_KEY=DLP_MASTER_KEY
DLP_PROOF_INSTRUCTION=DLP_PROOF_INSTRUCTION
DLP_TOKEN_NAME=DLP_TOKEN_NAME
DLP_TOKEN_SYMBOL=DLP_TOKEN_SYMBOL
DLP_FILE_REWARD_FACTOR=10000000000000000000

#core contracts
ROOT_CONTRACT_ADDRESS=0x896af4A3dA3F2C226AE121dC1a00c20Ee1aA5691
DATA_REGISTRY_CONTRACT_ADDRESS=0xEA882bb75C54DE9A08bC46b46c396727B4BFe9a5
TEE_POOL_CONTRACT_ADDRESS=0xF084Ca24B4E29Aa843898e0B12c465fAFD089965

# Change the file name to .env
SATORI_RPC_URL=http://rpc.satori.vana.org
SATORI_API_URL=https://api.satori.vanascan.io/api
SATORI_BROWSER_URL=https://satori.vanascan.io

MOKSHA_RPC_URL=https://rpc.moksha.vana.org
MOKSHA_API_URL=https://rpc.moksha.vana.org/api
MOKSHA_BROWSER_URL=https://moksha.vanascan.io
