# project files
.env
node_modules

# Hardhat files
/cache

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# editor files
.vscode
.idea

.openzeppelin/
artifacts/
